@keyframes blogPostHover {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.05);
    }
}
@keyframes blogPostHover2 {
    0% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes menuMobile {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0%);
    }
}
@keyframes menuMobile2 {
    0% {
        transform: translateY(0%);
    }
    100% {
        transform: translateY(-100%);
    }
}